.navbar.navbar-inverse.navbar-fix#sticky-navbar
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed(data-toggle="collapse" data-target="#navbar-1")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    .collapse.navbar-collapse#navbar-1
      %ul.nav.navbar-nav
        %li{:class=>"#{'active' if page.output_path.start_with?('/index') }" }<
          %a(href="/index.html") Home
        %li{:class=>"#{'active' if page.output_path.start_with?('/downloads') }" }<
          %a(href="/downloads.html") Downloads
        %li<
          %a(href="http://docs.jboss.org/artificer" target="_blank") Docs
        %li.dropdown
          %a.dropdown-toggle(href="#" data-toggle="dropdown")<
            = precede 'Get Involved ' do
              %b.caret>
          %ul.dropdown-menu
            %li<
              %a(href="/contribute.html") Contribute
            %li<
              %a(href="https://issues.jboss.org/browse/ARTIF" target="_blank") Feature/Bug Tracker
            %li<
              %a(href="/chat.html") Chat
            %li<
              %a(href="https://developer.jboss.org/en/artificer" target="_blank") User Forum
            %li<
              %a(href="https://developer.jboss.org/en/artificer/dev" target="_blank") Developer Forum
        %li<
          %a(href="https://issues.jboss.org/browse/ARTIF" target="_blank") Feature/Bug Tracker
        %li<
          %a(href="/roadmap.html") Roadmap
        %li<
          %a(href="https://github.com/ArtificerRepo/artificer" target="_blank") Source Code
        %li<
          %a(href="https://travis-ci.org/ArtificerRepo/artificer" target="_blank") Travis CI
        %li.dropdown
          %a.dropdown-toggle(href="#" data-toggle="dropdown")<
            = precede 'Follow Us ' do
              %b.caret>
          %ul.dropdown-menu
            %li<
              %a(href="https://twitter.com/ArtificerRepo" target="_blank") @ArtificerRepo
            %li<
              %a(href="https://developer.jboss.org/en/artificer/blog" target="_blank") Blog
            %li<
              %a(href="/chat.html") Chat
            %li<
              %a(href="https://developer.jboss.org/en/artificer" target="_blank") User Forum
            %li<
              %a(href="https://developer.jboss.org/en/artificer/dev" target="_blank") Developer Forum
= breadcrumb(page.real_page.output_path)
