!!! 5
%html(lang="en")
  %head
    = partial( page.head_partial.nil? ? 'head.html.haml' : page.head_partial , { "real_page" => page } )
  %body
    %div{:id => "#{page.subproject ? 'subproject' : ''}"}
      / begin accesibility skip to top
      %ul#top.visuallyhidden
        %li
          %a{:accesskey => "n", :href => "#nav", :title => "Skip to navigation"} Skip to navigation
        %li
          %a{:accesskey => "c", :href => "#page", :title => "Skip to content"} Skip to content
      .container#content

        .dropup
          %div#ajbossproject A JBoss Project
          %a#tab.tabnav-closed{:href => "#"} Red Hat
          %script
            window.addEventListener('load', function() { renderTabzilla("#{site.project_name}","#{site.project}" , false ) }, false);

        - if page.subproject
          = partial( page.navparent_partial.nil? ? 'navparent.html.haml' : page.navparent_partial , { "real_page" => page } )

        = partial( page.banner_partial.nil? ? 'banner.html.haml' : page.banner_partial , { "real_page" => page } )

        = partial( page.nav_partial.nil? ? 'nav.html.haml' : page.nav_partial , { "real_page" => page } )

        ~ content

      = partial( page.projectfooter_partial.nil? ? 'projectfooter.html.haml' : page.projectfooter_partial , { "real_page" => page } )

      = partial( page.companyfooter_partial.nil? ? 'companyfooter.html.haml' : page.companyfooter_partial , { "real_page" => page } )

      %span.backToTop
        %a{:href => "#top"} back to top

      %script(src="#{pageStyle ? site[pageStyle].bootstrap_js_url : site.bootstrap_js_url}#{site.minified}.js")
      - if page.bottom_javascripts
        - page.bottom_javascripts.each do |javascript|
          %script{:src=>javascript, :type=>'text/javascript'}

      - if site.profile.eql?("staging") or site.profile.eql?("production")
        :plain
            <script>dataLayer = [{'channel' : 'Artificer'}];</script>
            <!-- Google Tag Manager -->
            <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-NJWS5L"
            height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
            <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-NJWS5L');</script>
            <!-- End Google Tag Manager -->
            
            <script>
              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

              ga('create', 'UA-60585732-1', 'auto');
              ga('send', 'pageview');

            </script>
